<h1>Test <%= @passed_test.test.title %> was complited!</h1>

<% if @passed_test.success? %>
  <p>
    Result: <span class="success"><%= @passed_test.percent_correct %></span>%. Success!
  </p>
<% else %>
  <% if @passed_test.left_time && @passed_test.time_is_over?%>
    <p>
      Result: <span class="fail">Time is over</span>. Fail.
    </p>
  <% else %>
    <p>
      Result: <span class="fail"><%= @passed_test.percent_correct %></span>%. Fail.
    </p>
  <% end %>
<% end %>
<%= link_to 'Back to tests', tests_path %>