<tr>
  <td><%= image_tag("#{badge.image_url}", size: "128x128") %></td>
  <td>
    <p><b><%= link_to badge.title, edit_admin_badge_path(badge) %></b></p>
    <p><%= badge.description %><p>
  </td>
  <td>
    <%= link_to 'Delete',
                admin_badge_path(badge),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </td>
</tr>