<footer>
  <hr>
  <%= current_year %>
  <p>Author: Dmitiy B.</p>
  <%= github_url("McFunjy", "test-guru") %>
  <p>Сайт для создания прохождения тестов</p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</footer>