<h1>Tests</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Category</th>
    <th>Level</th>
    <th>Question number</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>