<h1>Tests</h1>

<table class='table'>
  <thead>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Category</th>
    <th>Level</th>
    <th>Question number</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>